:root {
  --maz-color-primary-50: hsl(169, 100%, 96%);
  --maz-color-primary-100: hsl(169, 100%, 86%);
  --maz-color-primary-200: hsl(169, 100%, 81%);
  --maz-color-primary-300: hsl(169, 100%, 71%);
  --maz-color-primary-400: hsl(169, 100%, 66%);
  --maz-color-primary-600: hsl(169, 100%, 46%);
  --maz-color-primary-700: hsl(169, 100%, 36%);
  --maz-color-primary-800: hsl(169, 100%, 26%);
  --maz-color-primary-900: hsl(169, 100%, 16%);
  --maz-color-primary: hsl(169, 100%, 56%);
  --maz-color-primary-alpha: hsla(169, 100%, 56%, 0.6);
  --maz-color-primary-alpha-20: hsla(169, 100%, 56%, 0.2);
  --maz-color-primary-alpha-10: hsla(169, 100%, 56%, 0.1);
  --maz-color-primary-alpha-05: hsla(169, 100%, 56%, 0.05);
  --maz-color-primary-contrast: hsl(0, 0%, 0%);

  --maz-color-secondary-50: hsl(43, 100%, 90%);
  --maz-color-secondary-100: hsl(43, 100%, 80%);
  --maz-color-secondary-200: hsl(43, 100%, 75%);
  --maz-color-secondary-300: hsl(43, 100%, 65%);
  --maz-color-secondary-400: hsl(43, 100%, 60%);
  --maz-color-secondary-600: hsl(43, 100%, 40%);
  --maz-color-secondary-700: hsl(43, 100%, 30%);
  --maz-color-secondary-800: hsl(43, 100%, 20%);
  --maz-color-secondary-900: hsl(43, 100%, 10%);
  --maz-color-secondary: hsl(43, 100%, 50%);
  --maz-color-secondary-alpha: hsla(43, 100%, 50%, 0.6);
  --maz-color-secondary-alpha-20: hsla(43, 100%, 50%, 0.2);
  --maz-color-secondary-alpha-10: hsla(43, 100%, 50%, 0.1);
  --maz-color-secondary-alpha-05: hsla(43, 100%, 50%, 0.05);
  --maz-color-secondary-contrast: hsl(0, 0%, 0%);

  --maz-color-info-50: hsl(188, 78%, 81%);
  --maz-color-info-100: hsl(188, 78%, 71%);
  --maz-color-info-200: hsl(188, 78%, 66%);
  --maz-color-info-300: hsl(188, 78%, 56%);
  --maz-color-info-400: hsl(188, 78%, 51%);
  --maz-color-info-600: hsl(188, 78%, 31%);
  --maz-color-info-700: hsl(188, 78%, 21%);
  --maz-color-info-800: hsl(188, 78%, 11%);
  --maz-color-info-900: hsl(189, 64%, 1%);
  --maz-color-info: hsl(188, 78%, 41%);
  --maz-color-info-alpha: hsla(188, 78%, 41%, 0.6);
  --maz-color-info-alpha-20: hsla(188, 78%, 41%, 0.2);
  --maz-color-info-alpha-10: hsla(188, 78%, 41%, 0.1);
  --maz-color-info-alpha-05: hsla(188, 78%, 41%, 0.05);
  --maz-color-info-contrast: hsl(0, 0%, 100%);

  --maz-color-success-50: hsl(80, 61%, 90%);
  --maz-color-success-100: hsl(80, 61%, 80%);
  --maz-color-success-200: hsl(80, 61%, 75%);
  --maz-color-success-300: hsl(80, 61%, 65%);
  --maz-color-success-400: hsl(80, 61%, 60%);
  --maz-color-success-600: hsl(80, 61%, 40%);
  --maz-color-success-700: hsl(80, 61%, 30%);
  --maz-color-success-800: hsl(80, 61%, 20%);
  --maz-color-success-900: hsl(80, 61%, 10%);
  --maz-color-success: hsl(80, 61%, 50%);
  --maz-color-success-alpha: hsla(80, 61%, 50%, 0.6);
  --maz-color-success-alpha-20: hsla(80, 61%, 50%, 0.2);
  --maz-color-success-alpha-10: hsla(80, 61%, 50%, 0.1);
  --maz-color-success-alpha-05: hsla(80, 61%, 50%, 0.05);
  --maz-color-success-contrast: hsl(0, 0%, 100%);

  --maz-color-warning-50: hsl(34, 95%, 89%);
  --maz-color-warning-100: hsl(34, 95%, 79%);
  --maz-color-warning-200: hsl(34, 95%, 74%);
  --maz-color-warning-300: hsl(34, 95%, 64%);
  --maz-color-warning-400: hsl(34, 95%, 59%);
  --maz-color-warning-600: hsl(34, 95%, 39%);
  --maz-color-warning-700: hsl(34, 95%, 29%);
  --maz-color-warning-800: hsl(34, 95%, 19%);
  --maz-color-warning-900: hsl(34, 95%, 9%);
  --maz-color-warning: hsl(34, 95%, 49%);
  --maz-color-warning-alpha: hsla(34, 95%, 49%, 0.6);
  --maz-color-warning-alpha-20: hsla(34, 95%, 49%, 0.2);
  --maz-color-warning-alpha-10: hsla(34, 95%, 49%, 0.1);
  --maz-color-warning-alpha-05: hsla(34, 95%, 49%, 0.05);
  --maz-color-warning-contrast: hsl(0, 0%, 100%);

  --maz-color-danger-50: hsl(1, 78%, 87%);
  --maz-color-danger-100: hsl(1, 78%, 77%);
  --maz-color-danger-200: hsl(1, 78%, 72%);
  --maz-color-danger-300: hsl(1, 78%, 62%);
  --maz-color-danger-400: hsl(1, 78%, 57%);
  --maz-color-danger-600: hsl(1, 78%, 37%);
  --maz-color-danger-700: hsl(1, 78%, 27%);
  --maz-color-danger-800: hsl(1, 78%, 17%);
  --maz-color-danger-900: hsl(1, 78%, 7%);
  --maz-color-danger: hsl(1, 78%, 47%);
  --maz-color-danger-alpha: hsla(1, 78%, 47%, 0.6);
  --maz-color-danger-alpha-20: hsla(1, 78%, 47%, 0.2);
  --maz-color-danger-alpha-10: hsla(1, 78%, 47%, 0.1);
  --maz-color-danger-alpha-05: hsla(1, 78%, 47%, 0.05);
  --maz-color-danger-contrast: hsl(0, 0%, 100%);

  --maz-color-text-light: hsl(0, 0%, 85%);
  --maz-color-muted-light: hsla(0, 0%, 0%, 0.54);
  --maz-bg-color-light: hsl(0, 0%, 100%);
  --maz-bg-color-light-light: hsl(0, 0%, 96%);
  --maz-bg-color-light-lighter: hsl(0, 0%, 93%);
  --maz-color-text-dark: hsl(210, 8%, 14%);
  --maz-color-muted-dark: hsla(0, 0%, 100%, 0.54);
  --maz-bg-color-dark: hsl(235, 16%, 15%);
  --maz-bg-color-dark-light: hsl(235, 16%, 19%);
  --maz-bg-color-dark-lighter: hsl(235, 16%, 22%);
  --maz-bg-overlay: hsl(0, 0%, 0%);
  --maz-border-width: 0.125rem;
  --maz-border-color: hsl(220deg 13.04% 90.98%);
  --maz-border-radius: 0.5rem;
  --maz-font-family: system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen,
    ubuntu, cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, system-ui, -apple-system, blinkmacsystemfont, 'Segoe UI', roboto, oxygen,
    ubuntu, cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
